*{
	/*outline: 2px solid red;*/
}


body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	/*background-color: grey;*/
	box-sizing: border-box;
	

	/*background-image: url('../img/landng_page.JPEG');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	text-align: center;
}
/*#wrapper{}*/
.box 
{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 700px;
	height: 500px;
	background-color: green;
	background-size: 100% 100%;
	background-image: url('../img/LP.JPEG');

	background-repeat: no-repeat;
	/*background-repeat: repeat-x;;*/
	text-align: center;
	background-color: white;
	border:1px solid black;
}
.about 
{
	margin-top: 50%;
	/*margin-left: 50%;*/
	/*padding-top: 50%;*/
	color: #fff;
	text-align: center;
	position: absolute;
	transform: translateY(-50%);
}
#btn-enter{
	/*position: relative;*/
	/*margin: auto;*/
	/*text-align: center;*/
	/*top: 100%;*/
	/*left: 	50%;*/
	/*width: 150px;*/
	/*height: 30px;*/
	/*text-align: center;*/
	/*border-radius: 10px;*/
	/*background-color:rgb(56,119,22);*/
	/*color: black;*/
	/*box-shadow: 0 8px 16px 0 rgba(150,200,150,0.2);*/
	/*letter-spacing: 5px;*/
}
#btn-enter:hover 
{
	/*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);*/
	/*transform:perspective(1000px) rotate(30deg) skew(25deg) translate(20px,20px);*/
}
.about h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	text-transform: uppercase;
}
.figure 
{
	width: 100%;
	height:100%;
}
.figure:before
{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width: 50%;
	height: 100%;
	background-image: url('../img/LP2.jpg');
	background-size: 100% 103%;
	background-repeat: no-repeat;
	/*background: #ccc;*/
	transform-origin: top;
	transition: .5s;

}
	.box:hover .figure:before
		{
		transform: rotateX(90deg) translateY(50%);
		}
		.figure:after
		{
			content: "";
			position: absolute;
			top: 0;
			right:0;
			width: 50%;
			height: 100%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-image: url('../img/LP1.jpg');
			transform-origin: bottom;
			transition: .5s;

		}
		.box:hover .figure:after
		{
			transform: rotateX(90deg) translateY(-50%);
		}




#wrapper{
	min-height: 1000px;
}

#arayatContent{
	height: 350px;
}
.cardconent{
	height: 350px;
}
/*for pc*/
@media screen and (max-width:768px)
{
	
	.figure
	{
		display: none;
	}
	.box
	{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
